/*.btn {
 
  background-color: #f1f1f1;
  cursor: pointer;
	background-color: white;
}*/

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
  background-color: #666;
  color: white;
}